:root {
  --gradiente-tema: linear-gradient(
    178.2deg,
    #760817 10.9%,
    #9e0c21 62.6%
  );
  
}

.background-menu {
  background-image: var(--gradiente-tema)
}

.cursor {
  cursor: pointer;
  color: aliceblue;
}

.text-decoration-none {
  text-decoration: none;
}

.img-home{
  color: aliceblue!important;
  height: 20px;
}