.box1{
    background-image: var(--gradiente-tema);
    height: 50px;
    padding-top: 10px;
}

.box2{
    background-image: linear-gradient(90deg, rgba(138,0,19,1) 25%, rgba(191,43,38,1) 75%);
    height: 30px;
    color: white;
    padding-top: 1px;
}

.github-icon{
    font-size: 34px !important;
    color: white;
    margin-left: 15px;
}

.linkedin-icon{
    font-size: 41px !important;
    margin: 0 10px;
    color: white;
}

.instagram-icon{
    font-size: 40px !important;
    color: white;
}

.textos{
   color: white;
}