.titulo{
    font-weight: bold;
 }

 .text-tab{
    font-weight: bold;
    color: aliceblue!important;
 }

 .appbar-tab{
    background-image: linear-gradient(270deg, rgba(138,0,19,1) 25%, rgba(191,43,38,1) 75%);
 }